<a href="https://colab.research.google.com/github/bennarthurdev/python/blob/main/Benn_ex04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introdução à Ciência de Dados - UFPB
Professor: Yuri Malheiros

## Pandas

A partir do dataset `movies.csv` utilize o Pandas para responder as perguntas:

### Qual o gênero de filme com maior nota do IMDB? E o menor?

In [49]:
#modules
import numpy as np
import pandas as pd

#import dataset from github
URL = "https://github.com/yurimalheiros/icd/blob/master/datasets/movies.csv?raw=true" 

#create dataframe
df = pd.read_csv(URL)
#see dataframe
df

,Title,US Gross,Worldwide Gross,US DVD Sales,Production Budget,Release Date,MPAA Rating,Running Time (min),Distributor,Source,Major Genre,Creative Type,Director,Rotten Tomatoes Rating,IMDB Rating,IMDB Votes
0,The Land Girls,146083.0,146083.0,NaN,8000000.0,12-Jun-98,R,NaN,Gramercy,NaN,NaN,NaN,NaN,NaN,6.1,1071.0
1,"First Love, Last Rites",10876.0,10876.0,NaN,300000.0,7-Aug-98,R,NaN,Strand,NaN,Drama,NaN,NaN,NaN,6.9,207.0
2,I Married a Strange Person,203134.0,203134.0,NaN,250000.0,28-Aug-98,NaN,NaN,Lionsgate,NaN,Comedy,NaN,NaN,NaN,6.8,865.0
3,Let's Talk About Sex,373615.0,373615.0,NaN,300000.0,11-Sep-98,NaN,NaN,Fine Line,NaN,Comedy,NaN,NaN,13.0,NaN,NaN
4,Slam,1009819.0,1087521.0,NaN,1000000.0,9-Oct-98,R,NaN,Trimark,Original Screenplay,Drama,Contemporary Fiction,NaN,62.0,3.4,165.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3196,Zack and Miri Make a Porno,31452765.0,36851125.0,21240321.0,24000000.0,31-Oct-08,R,101.0,Weinstein Co.,Original Screenplay,Comedy,Contemporary Fiction,Kevin Smith,65.0,7.0,55687.0
3197,Zodiac,33080084.0,83080084.0,20983030.0,85000000.0,2-Mar-07,R,157.0,Paramount Pictures,Based on Book/Short Story,Thriller/Suspense,Dramatization,David Fincher,89.0,NaN,NaN
3198,Zoom,11989328.0,12506188.0,6679409.0,35000000.0,11-Aug-06,PG,NaN,Sony Pictures,Based on Comic/Graphic Novel,Adventure,Super Hero,Peter Hewitt,3.0,3.4,7424.0
3199,The Legend of Zorro,45575336.0,141475336.0,NaN,80000000.0,28-Oct-05,PG,129.0,Sony Pictures,Remake,Adventure,Historical Fiction,Martin Campbell,26.0,5.7,21161.0
3200,The Mask of Zorro,93828745.0,233700000.0,NaN,65000000.0,17-Jul-98,PG-13,136.0,Sony Pictures,Remake,Adventure,Historical Fiction,Martin Campbell,82.0,6.7,4789.0

# Funções


*   defineGenres:<br>
    Returns the genres contained in the movie.<br>
    Receives an array and iterates over it <br>
    if the element is already present, that type is already defined <br>
    otherwise that element can be NaN, as pandas will see it as float64<br>
    if the element is not present in the array "types" then it is defined and included in the array
  
    
    
*   Preprocessing : <br>
    args : dataFrame and Column Name<br>
    1.Eliminate NAN or NUll in specif column of an dataframe<br>
    2.Don't modify the original object, but return a new object who can be copied

In [50]:

def defineGenres(array , types = list(),i = 0):

  for x in array:
    
    if x in types:
      pass

    elif ( type(array[i]) == float ):
      pass

    else:
      types.append(array[i])
      
    i += 1

  return(types)

In [51]:
def Preprocessing(dataFrame , columns):

  for column in columns:
    df = dataFrame.dropna(subset = column)
  return df

1 - Excluir Valores indesejados
2 - Vizualizar os gêneros de filme presentes

In [52]:

df = Preprocessing(df, [['IMDB Rating'] , ['Major Genre']])
 
tipos = defineGenres(df["Major Genre"].values)

tipos

['Drama',
 'Comedy',
 'Musical',
 'Thriller/Suspense',
 'Adventure',
 'Action',
 'Romantic Comedy',
 'Horror',
 'Western',
 'Documentary',
 'Black Comedy',
 'Concert/Performance']

In [53]:
genres = df['Major Genre'] #Series with Major Genre can be acessed in this form

df[genres.values == tipos[0]]['IMDB Rating'].mean() #Calculate the mean for the first element in "tipos"

6.773441734417345

In [54]:
#But I need all the averages for all the film types
means = list()
for i in range(0, 12 , 1):
  means.append(df[genres.values == tipos[i]]['IMDB Rating'].mean())
means

[6.773441734417345,
 5.853858267716535,
 6.448,
 6.3609442060085835,
 6.345019920318725,
 6.114795918367347,
 5.873076923076923,
 5.676076555023922,
 6.8428571428571425,
 6.997297297297298,
 6.81875,
 6.325]

In [55]:
means_df = pd.DataFrame(means , columns = ['means'] , index = tipos) #Create a dataFrame with means of Filmes
means_df

                        means
Drama                6.773442
Comedy               5.853858
Musical              6.448000
Thriller/Suspense    6.360944
Adventure            6.345020
Action               6.114796
Romantic Comedy      5.873077
Horror               5.676077
Western              6.842857
Documentary          6.997297
Black Comedy         6.818750
Concert/Performance  6.325000

In [62]:
#OUTPUT
means_df.sort_values(by = 'means'  , ascending=False)

                        means
Documentary          6.997297
Western              6.842857
Black Comedy         6.818750
Drama                6.773442
Musical              6.448000
Thriller/Suspense    6.360944
Adventure            6.345020
Concert/Performance  6.325000
Action               6.114796
Romantic Comedy      5.873077
Comedy               5.853858
Horror               5.676077

### Qual o diretor dirigiu mais filmes de drama? E de comédia?

In [11]:
df

,Title,US Gross,Worldwide Gross,US DVD Sales,Production Budget,Release Date,MPAA Rating,Running Time (min),Distributor,Source,Major Genre,Creative Type,Director,Rotten Tomatoes Rating,IMDB Rating,IMDB Votes
0,The Land Girls,146083.0,146083.0,NaN,8000000.0,12-Jun-98,R,NaN,Gramercy,NaN,NaN,NaN,NaN,NaN,6.1,1071.0
1,"First Love, Last Rites",10876.0,10876.0,NaN,300000.0,7-Aug-98,R,NaN,Strand,NaN,Drama,NaN,NaN,NaN,6.9,207.0
2,I Married a Strange Person,203134.0,203134.0,NaN,250000.0,28-Aug-98,NaN,NaN,Lionsgate,NaN,Comedy,NaN,NaN,NaN,6.8,865.0
3,Let's Talk About Sex,373615.0,373615.0,NaN,300000.0,11-Sep-98,NaN,NaN,Fine Line,NaN,Comedy,NaN,NaN,13.0,NaN,NaN
4,Slam,1009819.0,1087521.0,NaN,1000000.0,9-Oct-98,R,NaN,Trimark,Original Screenplay,Drama,Contemporary Fiction,NaN,62.0,3.4,165.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3196,Zack and Miri Make a Porno,31452765.0,36851125.0,21240321.0,24000000.0,31-Oct-08,R,101.0,Weinstein Co.,Original Screenplay,Comedy,Contemporary Fiction,Kevin Smith,65.0,7.0,55687.0
3197,Zodiac,33080084.0,83080084.0,20983030.0,85000000.0,2-Mar-07,R,157.0,Paramount Pictures,Based on Book/Short Story,Thriller/Suspense,Dramatization,David Fincher,89.0,NaN,NaN
3198,Zoom,11989328.0,12506188.0,6679409.0,35000000.0,11-Aug-06,PG,NaN,Sony Pictures,Based on Comic/Graphic Novel,Adventure,Super Hero,Peter Hewitt,3.0,3.4,7424.0
3199,The Legend of Zorro,45575336.0,141475336.0,NaN,80000000.0,28-Oct-05,PG,129.0,Sony Pictures,Remake,Adventure,Historical Fiction,Martin Campbell,26.0,5.7,21161.0
3200,The Mask of Zorro,93828745.0,233700000.0,NaN,65000000.0,17-Jul-98,PG-13,136.0,Sony Pictures,Remake,Adventure,Historical Fiction,Martin Campbell,82.0,6.7,4789.0

In [63]:
#Filtrar por Major Genre

df_drama = df[df['Major Genre'] == 'Drama'] #seleciona as linhas para as quais a operação df['Major Genre'] == 'Drama' recebe true
grouped_drama = df_drama['Director'].value_counts()

df_comedy = df[df['Major Genre'] == 'Comedy']
grouped_comedy = df_comedy['Director'].value_counts()

print(f"DRAMA \n{grouped_drama}\n\n\n\nCOMÉDIA \n{grouped_comedy}")

DRAMA
Martin Scorsese         11
Oliver Stone            10
Steven Spielberg         9
Spike Lee                9
Francis Ford Coppola     6
                        ..
Bennett Miller           1
Gary Winick              1
Joey Lauren Adams        1
James Foley              1
Alfonso Cuaron           1
Name: Director, Length: 250, dtype: int64



COMÉDIA
Woody Allen        10
Kevin Smith         8
Ivan Reitman        7
Harold Ramis        7
Barry Levinson      6
                   ..
Bille Woodruff      1
Steve Hickner       1
Sam Mendes          1
Luke Greenfield     1
Ruben Fleischer     1
Name: Director, Length: 185, dtype: int64

### Quais filmes tiverem os maiores arrecadações (Gross) em relação ao orçamento de produção (Budget)?

In [101]:

df.loc[:,'Gross vs Budget'] = df['US Gross'] - df['Production Budget']

grouped_df = df.sort_values(by = 'Gross vs Budget' , ascending = False)



print(grouped_df.loc[:,['Title','Gross vs Budget']])

                                                Title  Gross vs Budget
1234                                           Avatar      523167650.0
912                      Star Wars Ep. IV: A New Hope      449998007.0
296                         ET: The Extra-Terrestrial      424610554.0
2970                                          Titanic      400788188.0
2741                                          Shrek 2      371226247.0
...                                               ...              ...
1157                                        Alexander     -120702809.0
2967  The Adventures of Tintin: Secret of the Unicorn     -130000000.0
1547           His Dark Materials: The Golden Compass     -134892272.0
118                                           Bananas              NaN
1271                                        Baby Mama              NaN

[2926 rows x 2 columns]

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)